<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.marfeel.ogury"
    version="0.1">
      
    <name>Ogury</name>
    <description>Cordova Plugin for Ogury</description>
    <author>Marfeel</author>
    <license>MIT</license>
    <keywords>ogury,marfeel,cordova</keywords>
    <repo>https://github.com/.git</repo>
    <issue>https://github.com/issues</issue>
    <preference name="API_KEY" default="\${oguryApiKey}"/>

    <engines>
        <engine name="cordova" version=">=3.5" />
    </engines>

    <js-module src="www/CPresage.js" name="CPresage">
        <clobbers target="window.CPresage" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/CPresage.java" target-dir="src/com/marfeel/ogury" />
        
        <config-file target="config.xml" parent="/*">
                <feature name="CPresage">
                    <param name="android-package" value="io.presage.CPresage"/>
                    <param name="onload" value="true" />
                </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
              <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation"/>

                <meta-data android:name="presage_key" android:value="$API_KEY" />
                <service android:name="io.presage.services.PresageServiceImp"/>
                <activity android:name="io.presage.activities.PresageActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Presage.Theme.Transparent"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:hardwareAccelerated="true" >
                    <intent-filter>
                      <action android:name="io.presage.intent.action.LAUNCH_WEBVIEW" />
                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>
                <receiver android:name="io.presage.receivers.BootReceiver">
                    <intent-filter>
                        <action android:name="android.intent.action.BOOT_COMPLETED"/>
                        <action android:name="android.intent.action.DATE_CHANGED"/>
                        <action android:name="io.presage.receivers.BootReceiver.RESTART_SERVICE"/>
                    </intent-filter>
                </receiver>

          </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
          
        <source-file src="src/android/styles.xml" target-dir="res/values" />
        <source-file src="src/android/presage-lib-1.8.1.jar" target-dir="libs" />
     </platform>
</plugin>